@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 8px 0;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
}

.why-row{
    padding: 20px 10px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.why-box{
    
    padding: 15px 0;
    margin: 0 10px;
    width: 320px;
    height: 500px;
    color: white;
    border-radius: 10px;

}
.why-box h2{
    font-size: 20px;
    font-style: bold;
    color: #020A42;
    margin: 0;
}
.why-box p{
    font-size: 14px;
    color: black;
    line-height: 14px;
    margin: 0;
}


.why-box:nth-child(2){
    background-image: url(image/why_sekela.jpg);
    background-position:  center;
}
.why-h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-top: 5;
    margin-bottom: 0;

}
.why-p{
    text-align: center;
    font-size: 15px;
}